{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock %}


{% block style %}<style>
    .password-style{
        width:500px;
        height:auto;
    }
</style>{% endblock %}
{% block body %}
<div class="container mt-4 password-style">
    <h1>Change your Password</h1>
    <form action="" method="post" novalidate>
        {%csrf_token%}
        {{form | crispy}}
        <!-- <input type="hidden" name="text" value="{{next}}"> -->
        <input type="submit" value="Change Password" class="btn btn-primary">
    </form>
</div>
{% endblock %}